*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: cute-font;
  src: url(./font/CuteFont.ttf);
}

.App {
  text-align: center;
}

.header {
  background: #252424;
  width: 100%;
  display: flex;
  color: white;
  font-family: "cute-font";
  font-weight: 600;
  font-size: 40px;
  height: 80px;
}

.side-nav {
  position: relative;
  margin: 0;
  width: 265px;
  left: 0px;
  top: 0px;
  color:  white;
  background: #252424;
  height: 900px;
}

.side-nav ul {
  margin-top: 150px;
  font-family: "cute-font";
  font-size: 40px;
}

.side-nav ul li {
  margin: 50px auto;
  list-style: none;
  cursor: pointer;
  border: 1px solid #E3FFFA;
  border-radius: 50px;
  background: #E3FFFA;
  color: black;
  width: 70%;
}

.side-nav ul li a{
  text-decoration: none;
  color: black;
}

.side-nav ul :hover{
  color : red;
}

.side-nav ul .lastList{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-content {
  display: flex;
  
}

.main {
  width: 100%;
  background: url(./images/gym.jpg) no-repeat;
  background-size: cover;
  opacity: 0.7;

}

.device {
  position: relative;
}

.device-top {
  position: absolute;
  width: 25%;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
  border: 20px solid #E3FFFA;
  border-radius: 100px 100px 0 0;
  background: #E3FFFA;
  box-sizing: border-box;
}

.chatbot {
  position: absolute;
  width: 25%;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 600px;
  box-sizing: border-box;
  border: 1px solid #E3FFFA;
}

.device-bottom {
  position: absolute;
  width: 25%;
  border: 20px solid #E3FFFA;
  left: 50%;
  transform: translate(-50%, 0);
  top: 690px;
  border-radius: 0 0 100px 100px;
  box-sizing: border-box;
}


.result {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  background: #E3FFFA;
  text-align: left;
}

.result_header {
  padding: 20px;
  box-sizing: border-box;
  font-family: "cute-font";
  font-weight: bold;
  font-size: 30px;
}

.result_content {
  width: 100%;
  height: 80%;
  margin: 0 0 50px 0;
  box-sizing: border-box;
  background: #282828;
}

.list {
  padding: 30px;
}