*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: cute-font;
  src: url(./font/KOTRA.ttf);
}

.App {
  text-align: center;
}

.header {
  background: #252424;
  width: 100%;
  display: flex;
  color: white;
  font-family: "cute-font";
  font-weight: 600;
  font-size: 40px;
  height: 80px;
}

.header p {
  padding: 15px;
}

.side-nav {
  position: relative;
  margin: 0;
  width: 265px;
  left: 0px;
  top: 0px;
  color:  white;
  background: #252424;
  height: 900px;
}

.side-nav ul {
  margin-top: 150px;
  font-family: "cute-font";
  font-size: 30px;
}

.side-nav ul li {
  margin: 50px auto;
  list-style: none;
  cursor: pointer;
  border: 1px solid #E3FFFA;
  border-radius: 50px;
  background: #E3FFFA;
  color: black;
  width: 70%;
  padding: 10px 10px;
}

.side-nav ul li a{
  text-decoration: none;
  color: black;
}

.side-nav ul :hover{
  color : red;
}

.side-nav ul li .active {
  color : red;
}

.side-nav ul .lastList{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-content {
  display: flex;
  
}

.main {
  width: 100%;
  background: url(./images/background.png) no-repeat;
  background-size: cover;
  /* opacity: 0.7; */

}

.device {
  position: relative;
}

.device-top {
  position: absolute;
  width: 350px;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
  border: 20px solid #E3FFFA;
  border-radius: 100px 100px 0 0;
  background: #E3FFFA;
  box-sizing: border-box;
}

.chatbot {
  position: absolute;
  width: 350px;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 600px;
  box-sizing: border-box;
  border: 1px solid #E3FFFA;
}

.device-bottom {
  position: absolute;
  width: 350px;
  border: 20px solid #E3FFFA;
  left: 50%;
  transform: translate(-50%, 0);
  top: 690px;
  border-radius: 0 0 100px 100px;
  box-sizing: border-box;
}

.logo2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 750px;
}


.result {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  background: #E3FFFA;
  text-align: left;
  position: relative;
  border-radius: 20px;
}

.result_header {
  position: absolute;
  box-sizing: border-box;
  font-family: "cute-font";
  font-size: 30px;
  color: #E3FFFA;
  top: -50px;
  left: 30px;
}

.result_content {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 80%;
  margin: auto 0;
  box-sizing: border-box;
  background: #9DD1C8;
}

.list {
  padding: 30px;
  font-family: "cute-font";

}

.list_header{
  position: absolute;
  width: 100%;
  top: 20px;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "cute-font";
  font-size: 30px;
}

.list ul, .list_header ul {
list-style: none;

}

.list ul li p, .list_header ul li p {
  display: inline-block;
  width: 14%;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.list ul li p {
  padding: 5px;
}

.list ul li p img {
  border: 1px solid #EBFFFB;
  border-radius: 10px;
  color: #9DD1C8;
  vertical-align: middle;
}

.details {
  width: 40%;
  height: 400px;
  margin: 0 auto;
  margin-top: 200px;
  background: #E3FFFA;
  text-align: left;
  position: relative;
  border-radius: 20px;
}

.list_content div{
  padding: 20px;
  font-family: "cute-font";
  font-size: 30px;
}

.last_list {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.last_list a {
  text-decoration: none;
  color: black;
}

.detail_logo2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 500px;
}